body {
  margin: 0;
  min-height: vh;
}

.main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center center;
}

.main h1{
    display: flex;
    font-family: 'Poppins', sans-serif;
    -ms-flex-align: center;
        justify-content: center;
    font-size: 50px;
}

.main form {
    width: 100%;
    max-width: 790px;
}

.form-control:focus {
    box-shadow: none;
    
}

footer{
    min-height: 5vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke; 
    border-top: 1px solid #e4e4e4; 
}

.colom{
    float: left;
    width: 50%;
}

.row-footer:after{
    content: "";
    display: table;
    /* clear: both; */
}


ul#menu li{
    list-style: none;
	/* line-height: 40px; */
    display: inline;
	/* padding-left:10px; */
}

ul#menu li a{
    color: #666;
    margin: 2px 10px 0;
    letter-spacing: 0.1px;
    font-size: 15   px;
    text-decoration: none;
}

ul#menu li a:hover{
    color: #666;
    margin: 2px 10px 0;
    letter-spacing: 0.1px;
    font-size: 15px;
    text-decoration: underline;
}

/* .kanan{
    float: right;
    padding-right:10px;
} */

footer .bawah{
    border-top: 1px solid #e4e4e4; 
}

.ui-helper-hidden-accessible { display:none; }

.ui-autocomplete {
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /* left: 0;
    right: 0; */
}

.ui-autocomplete li {
    list-style: none;
    display: inline;
}

.ui-autocomplete div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
}

.ui-autocomplete div:hover {
    background-color: #e9e9e9; 
}

img{
    height: 150px;
    width: auto;
    transition: 0.5s;
    border: rgba(0, 0, 0, 0.1);
}

img:hover{
    /* background-color: rgb(135, 206, 235, .2); */
    transform: scale(1.1);
}

#link-text{
    font-style: normal;
    text-decoration: none;
    color: black;
}

#link-text:hover{
    font-style: normal;
    text-decoration: underline;
    color: black;
}

.hot{
    padding-left: 25px;
    padding-top: 25px;
}

#result-nav, #result-main {
    display:none;
}

#result-detail {
    background-color: black;
    height: 200px;
    left: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
}